<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label>UserId</label>
            <input type="text" [(ngModel)]='txtUSerID' class="form-control" id="exampleInputEmail1" >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Id</label>
            <input type="text" [(ngModel)]='txtID' readonly class="form-control" id="exampleInputEmail1" >
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label>Title</label>
            <input type="text" [(ngModel)]='txtTitle' class="form-control" id="exampleInputEmail1" >
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>completed</label>
            <br>
            <input type="checkbox" [(ngModel)]='chkCompleted'  >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label style="visibility: hidden ;">compldfdsfdsfdsfdsffdfs</label>
            <button type="button" (click)="saveDataToGrid()" class="btn btn-success">Save</button>
        </div>
    </div>
</div>